glob:_*
glob:bin
glob:obj
glob:*.suo
glob:*.user
glob:*.cache
glob:*.dbmdl
glob:debug
glob:release
glob:BuildResults.xml
glob:*.results.xml
glob:test-results.html
glob:.tfs-ignore
glob:*.orig
glob:nQuant.Core\Nuget\Tools
glob:nQuant.Core\Nuget\Lib
glob:BuildFiles
glob:packages
bin/
obj/
*.user
